@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}

:root {
  --primary-brand-light: #819b57;
  --primary-brand-dark: #465929;
  --primary-color-dark: #31261a;
  --primary-color-light: #faf4ea;
}

/* Base */

* {
  box-sizing: border-box;
}

body {
  color: var(--primary-color-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0%;
}

.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.container {
  width: 100%;
  max-width: 1288px; /* + 2*24 = 88  padding for box-sizing: border-box */
  margin: 0 auto;
  padding: 0 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
}

.section {
  padding: 48px 0;
}

/* Link */

.link {
  color: var(--primary-color-light);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.link:hover {
  color: var(--primary-brand-light);
}

/* Button */

.button-order {
  color: var(--primary-color-light);
  border-radius: 8px;
  border: 2px solid var(--primary-brand-light);
  background-color: var(--primary-brand-light);
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  font-weight: 600;
  font-size: 18px;
}

.button-order:hover {
  color: var(--primary-brand-dark);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.container-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.menu-nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 64px;
}

.header-section {
  background-color: lightgrey; /* remove */
}

/* Hero section */

.hero-section {
  padding: 272px 0;
}

.hero-title {
  margin-bottom: 0px;
  color: var(--primary-color-light);
  font-size: 128px;
  text-align: center;
}

.accent {
  color: var(--primary-brand-light);
  font-weight: 600;
}

/* Adventures section */

.adventures-section {
  color: var(--primary-color-light);
  background-color: var(--primary-brand-light);
  font-weight: 300;
  font-size: 20px;
}

.hide-element {
  position: absolute;
  left: -9999px;
}

.adventures-text {
  display: flex;
  padding: 16px 99px;
  gap: 40px;
  justify-content: space-between;
}

/* New traditions format section */

.traditions-section {
  padding-top: 96px;
}

.traditions-text .uppercase {
  text-transform: uppercase;
  color: var(--primary-brand-light);
  font-weight: 600;
}

.formats-title {
  margin-bottom: 42px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 105px;
}

.traditions-text {
  width: 100%;
  max-width: 700px;
}

.traditions-text .limited {
  width: 100%;
  max-width: 345px;
}

/*  Chefs cestion */

.container-title {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.chefs-title {
  width: 100%;
  max-width: 560px;
  margin-bottom: 80px;
}

.chefs-title .accent {
  padding-left: 40px;
}

.chefs-section .accent {
  color: var(--primary-brand-dark);
}

.description-chef .accent {
  color: var(--primary-color-dark);
  text-transform: uppercase;
}

.chef-title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}

.chefs-card {
  display: flex;
  justify-content: space-between;
}

.chefs-card li:nth-child(odd) {
  padding-right: 100px;
}

.container-item {
  width: 100%;
  max-width: 605px;
  display: flex;
  gap: 30px;
}

/* Formats section */

.formats {
  margin-bottom: 80px;
}

.format-title {
  color: var(--primary-color-light);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.formats-section p {
  color: var(--primary-color-light);
  font-weight: 300;
  font-size: 14px;
}

/* Contact-form section */

.contact-title {
  margin-bottom: 16px;
}

.data-protection-link {
  color: var(--primary-color-dark);
}

.google-maps {
  border-radius: 16px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  border: 0;
}

/* Footer */

.footer-block {
  background-color: lightgrey;
}

.social {
  display: flex;
  gap: 22px;
}

.data-protection-text {
  color: #a18268;
}

.footer-container {
  padding: 32px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-logo {
  flex-basis: auto;
}

.footer-content {
  flex-basis: 211px;
  padding: 0px 20px;
}

.footer-content li {
  margin-bottom: 16px;
}

.nowrap {
  white-space: nowrap;
}

.footer-blocks {
  display: flex;
}

.footer-blocks:nth-child(1) {
  gap: 165px;
}

.footer-blocks:nth-child(2) {
  justify-content: space-between;
}
